<header class="Header" style="background-image: url('{{site.url}}/assets/img/img-bg.jpeg')">
	{% include menu.html %}
	<div class="Header_listContainer">
		<h1 class="Header_h1" data-fade-medium>Kombucha</h1>
		<ul class="Header_list">
			<li class="Header_listItem" data-fade-slow>Probiótico</li>
			<li class="Header_listItem" data-fade-slow>Zero Açucar</li>
			<li class="Header_listItem" data-fade-slow>Zero Álcool</li>
			<li class="Header_listItem" data-fade-slow>Zero Glúten</li>
			<li class="Header_listItem" data-fade-slow>Lowcarb</li>
			<li class="Header_listItem" data-fade-slow>Vegan</li>
		</ul>
	</div>
	<div class="Header_logoContainer">
		<img src="{{site.url}}/assets/img/logo.png" data-fade-slow alt="">
	</div>
	<div class="Header_bottleContainer">
		<img src="{{site.url}}/assets/img/garrafa_aroeira.png" data-fade-slow alt="">
	</div>
</header>