<header class="Header">
	<div class="Header_listContainer">
		<h1 class="Header_h1">Kombucha</h1>
		<ul class="Header_list">
			<li class="Header_listItem">Probiótico</li>
			<li class="Header_listItem">Zero Açucar</li>
			<li class="Header_listItem">Zero Álcool</li>
			<li class="Header_listItem">Zero Glúten</li>
			<li class="Header_listItem">Lowcarb</li>
			<li class="Header_listItem">Vegan</li>
		</ul>
	</div>
	<div class="Header_logoContainer">
		<img src="assets/img/logo.png" alt="">
	</div>
</header>