<div class="Menu_icon">
	<i class="fas fa-ellipsis-v"></i>
</div>
<nav class="Menu">
	<ul class="row Menu_list">
		{% for item in site.menus.header %}
		<li id="Menu_listItem__{{ loop.index }}" data-fade-fast class="Menu_listItem"><a href="{{ item.url }}" class="Menu_listItem__link" title="Go to {{ item.title }}">{{ item.title }}</a>
			{% if item.submenu %}
			<ul class="Menu_submenu">
				{% for item in item.submenu %}
					<li class="Menu_listItem">
						<a href="{{item.url}}" class="Menu_listItem__link">{{item.title}}</a></li>	
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>
