.Menu {
	width: 100%;

	&_icon {
		display: none;
	}

	&_listItem {
		lost-column: 1.3/12;
		text-transform: uppercase;
		text-align: center;

		&:after {
			content: "|";
			float: right;
		}

		&:last-child:after {
			content: "";
		}
	}

	&_listItem__link {
		cursor: pointer;
		font-size: $fontSize;
		display: inline-block;
		transition: all 0.5s linear;

		&:after { 
			content: "";
			height: 1px;
			width: 0;
			margin: 0 auto;
			float: left;
			transition: all 0.2s linear;
		}

		&:hover:after {
			content: "";
			width: 100%;
			background-color: $text;
		}
	}
}

@media screen and (max-width: 768px) {
	.Menu {
		display: none;
		&_listItem {
			lost-column: 1/1;
			display: block;
			text-align: left;

			&:after {
				content: ""
			}
		}

		&_icon {
			display: block;
			font-size: 21px;
			cursor: pointer;
		}
	}
}