---
layout: page
---
<div class="Product_description">
	<div class="Product_description__highlight">Possui um sabor e aroma característico, frutado, limão, ácido e cítrico</div>
	<p class="Product_description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ex delectus saepe debitis impedit</p>
	<div class="Product_description__info">
		<div class="Product_description__infoTitle">Informação Nutricional</div>
		<div class="Product_description__infoSubtitle">Porção de 300ml (1 garrafa)</div>
		<table class="Product_description__infoTable">
			<tr>
				<th></th>
				<th>Qtde por porção</th>
				<th>%VD*</th>
			</tr>
			<tr>
				<td>Valor energético</td>
				<td>72Kcal = 302kJ</td>
				<td>4%</td>
			</tr>
			<tr>
				<td>Carboidratos</td>
				<td>18g</td>
				<td>6%</td>
			</tr>
			<tr>
				<td>Sódio</td>
				<td>8mg</td>
				<td>0%</td>
			</tr>
		</table>
	</div>
	<div class="Product_termometer">
		<div class="Product_termometerBox">
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					4,3
				</div>
			</div>
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					4,3
				</div>
			</div>
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					4,3
				</div>
			</div>
		</div>
		<div class="Product_termometerList">
			<ul>
				<li>Ácidez do produto final</li>
				<li>Àçucar residual</li>
				<li>Grau alcoolico</li>
			</ul>
		</div>
	</div>
