---
layout: page
---

<div class="Product_description">
	<div class="Product_description__highlight" data-fade-fast>{{page.highlight}}</div>
	<h3 class="Product_description__sub">{{page.descriptionSub}}</h3>
	<p class="Product_description__gluten">Não contém glúten</p>
	<p class="Product_description__text" data-fade-fast>{{page.description}}</p>
	<div class="Product_description__info">
		<div class="Product_description__infoTitle" data-fade-fast>{{page.infoTittle}}</div>
		<div class="Product_description__infoSubtitle" data-fade-fast>{{page.infoSubtitle}}</div>
		<table class="Product_description__infoTable">
			<tr>
				<th></th>
				<th>Qtde por porção</th>
				<th>%VD*</th>
			</tr>
			<tr>
				<td>Valor energético</td>
				<td>{{page.energeticValueQtd}}</td>
				<td>{{page.energeticValueVd}}</td>
			</tr>
			<tr>
				<td>Carboidratos</td>
				<td>{{page.carbosQtd}}</td>
				<td>{{page.carbosVd}}</td>
			</tr>
			<tr>
				<td>Sódio</td>
				<td>{{page.sodioQtd}}</td>
				<td>{{page.sodioVd}}</td>
			</tr>
		</table>
	</div>
	<div class="Product_termometer">
		<div class="Product_termometerBox">
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					{{page.ph}}
				</div>
			</div>
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					{{page.brix}}
				</div>
			</div>
			<div class="Product_termometerItem">
				<div class="Product_termometerBall">
					pH
				</div>
				<div class="Product_termometerSquare">
					{{page.abv}}
				</div>
			</div>
		</div>
		<div class="Product_termometerList">
			<ul>
				<li>Ácidez do produto final</li>
				<li>Àçucar residual</li>
				<li>Grau alcoolico</li>
			</ul>
		</div>
	</div>
