@font-face {
    font-family: 'webfontregular';
    src: url('fonts/avenirltstd-light-webfont.woff2') format('woff2'),
         url('fonts/avenirltstd-light-webfont.woff') format('woff'),
         url('fonts/avenirltstd-light-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
