@font-face {
  font-family: "Avenir Heavy";
  src: url("../fonts/Avenir-Heavy.ttf") format("ttf")
}

@font-face {
  font-family: "Avenir Light";
  src: url("../fonts/Avenir-Light.ttf") format("ttf")
}

@font-face {
  font-family: "Avenir Light O";
  src: url("../fonts/Avenir-Light-Oblique.ttf") format("ttf")
}

@font-face {
  font-family: "Avenir Medium";
  src: url("../fonts/Avenir-Medium.ttf") format("ttf")
}