html, body {
	height: 100%;
}

body {
	background-color: $background;
	color: $text;
	padding: 15px 36px 40px;
	font-family: 'webfontregular';
	letter-spacing: .6px;
}

.container {
	lost-center: 100%;
	height: inherit;
}

a,
a:hover,
a:visited,
a:active { 
	color: #fff; 
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	body {
		padding: 15px;
	}
}